<ion-app>
	<h1 class="title">Angular Router</h1>
	<nav>
	  <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
	  <a routerLink="/informacion" routerLinkActive="active">Informacion</a>
	  <a routerLink="/login" routerLinkActive="active">Login</a>
	  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
	</nav>
	<ion-header>
  <ion-toolbar>
    <ion-title>
     App gestiona 1.0
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
