<ion-header>
  <ion-toolbar>
    <ion-title>
     Mi primera aplicacion Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Mi primera aplicacion para Ionic
    <p>Esta es una aplicacion realizada por Jose Florián </p>
  	<ion-button color="primary" routerLink="../index2" routerLinkActive="active">Primary</ion-button>

  </div>
</ion-content>
